@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID </th>
        <th>Category Adı </th>
        <th>Status </th>
        <th>Detail </th>
        <th>Delete </th>
        <th> </th>
    </tr>
    @foreach (var item in Model)
            {
<tr>
    <td>@item.CategoryID</td>
    <td>@item.CategoryName</td>
    <td>@item.CategoryStatus</td>
    <td><a href="#" class="btn btn-warning">Details</a></td>
    <td><a href="#" class="btn btn-danger">Delete</a></td>
</tr>
            }
</table>
